extends layout

block head

    script(src = "/javascripts/sql-parser.min.js")
    script(src = "/javascripts/runQuery.js")
    script.
        let tables = "#{tables}".split(",");
        let columns = "#{columns}".split(",");


    //script(src="/javascripts/runQuery.js")
    script(src = "https://code.jquery.com/jquery-3.3.1.min.js",
        integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",
        crossorigin = "anonymous")
    script(src = "/javascripts/blockly_compressed.js")
    script(src = "/javascripts/blocks_compressed.js")
    script(src = "/javascripts/javascript_compressed.js")
    script(src = "https://blockly-demo.appspot.com/static/msg/js/en.js")
    script(src = "/blockly/blockDefinitions.js")
    script(src = "/blockly/blockGenerators.js")
    script(src="/javascripts/utilFunctions.js")

    include toolbox

block content

    div#mainContent
        div#blocklyArea content
        div#resultsTab

            div#bottomright
                p#textarea
                button#queryBtn(type='button' onclick='runQuery()') Run SQL Query
                p#statementTab(style="margin=1em")
            div#topright
                h3 Results
                table#resultsTable(style="margin=1em")

        //p Copyrighted by Sam Wiskow
    div#blocklyDiv(style="position: absolute; height:1%; width:1%;")

    script.
        var blocklyArea = document.getElementById('blocklyArea');
        var blocklyDiv = document.getElementById('blocklyDiv');
        var workspace = Blockly.inject(blocklyDiv,
            {toolbox: document.getElementById('toolbox')});
        Blockly.defineBlocksWithJsonArray(blocksJson);
        window.addEventListener('resize', onresize, false);
        onresize();
        Blockly.svgResize(workspace);
        loadWorkspace();
        Blockly.mainWorkspace.addChangeListener(Blockly.Events.disableOrphans);
        workspace.addChangeListener(myUpdateFunction);

