doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    div#nav
      ul
        li
          a(href="/") Home
        li
          a(href="/schema") Schema
        li
          a(href="/help") Help
        li(style="float: right")
          p=title
    block head
  body
    block content
