a {
  color: #00B7FF;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: #fff;
  font-family: sans-serif;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}

#nav{
  height: 6%;
  max-height: 48px;
  width: 100%;
}

#mainContent{
  clear: both;
  height: 94%;
  width: 100%;
  text-align: center;
  overflow: auto;
}

#blocklyArea {
  height: 100%;
  width: 50%;
  background: #fc9;
  text-align: center;
  float: left;
  min-width: 480px;
  min-height: 600px;
}

#resultsTab{
  height: 100%;
  width: 46%;
  text-align: center;
  float: left;
}

#topright{
  height: 78%;
  width: 100%;
  min-width: 480px;
  min-height: 200px;
  overflow: auto;
  padding: 1em;
  margin: 10px;
}

#bottomright{
  height: 19%;
  width: 100%;
  min-width: 480px;
  min-height: 200px;
  align-content: center;
}

#textarea, #queryBtn{
  display: inline-block;
  margin: 1em;
}

ul {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li p{
  color: white;
  text-align: center;
  padding-right: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#topright table {
  border-collapse: collapse;
  margin: auto;
}

#topright tr:hover {background-color: #f5f5f5;}
#topright tr:nth-child(even) {background-color: #f2f2f2;}

#topright th{
  background-color: #4CAF50;
  color: white;
}

#topright table, th, td {
  border-bottom: 1px solid #ddd;
}

#topright th, td {
  padding: 15px;
  text-align: left;
}

#helpTable img {
  max-width: 50%;
  height: auto;
}

#exampleTable img {
  max-width: 80%;
  height: auto;
}

#infoTables{
  width: 100%;
  height: 85%;
  margin: auto;
}

#infoTables table{
  width: 90%;
  margin: auto;
}

#infoTables td{
  text-align: center;
}